@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  font-family: Inter;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  max-width: 600px;
  margin: 0 auto;
}

.header {
  background-color: white;
  text-align: center;
  padding: 1rem 0;
}

.main {
  padding: 3rem 2rem;
}
input {
  width: 100%;
  padding: 5px 8px;
}
.label {
  margin: 0.5rem 0;
}
.inside {
  padding-top: 1rem;
}
button {
  width: 100%;
  margin: 2rem 0;
  padding: 10px 0;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
}

.table {
  width: 100%;
  border: 1px solid gray;
}

td,
th {
  text-align: center;
  padding: 5px 0;
  border: 1px solid gray;
}

.footer {
  background-color: white;
  padding: 3rem 0;
}

.footer-header {
  text-align: center;
}
.social-link {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0 0;
}

.link {
  text-decoration: none;
  color: black;
}
